name: Publish Python Package to PyPI

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Ensures tags are fetched

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'  # Use the version appropriate for your project

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine bump2version

    #- name: Configure Git
    #  run: |
    #    git config --global user.name "GitHub Actions"
    #    git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

    #- name: Bump version and push tag
    #  run: |
    #    bump2version patch  # or 'minor' or 'major' depending on the release type
    #    git push --tags

    - name: Build and publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python -m build
        twine upload dist/*
