name: Test SortGS
on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
  schedule:
    - cron: '0 0 1 * *' # Run at 00:00 on the first of every month

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the package
      run: pip install -e .
    - name: Test with unittest
      run: python -m unittest -b
    - name: Test CLI Command
      run: sortgs 'machine learning' --nresults 10
